
body {
  background-image: url('koi.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: FlipH;
      -ms-filter: "FlipH";
}
H1,H2,p {
    color: white;
}


